<div class="navbar bg-neutral text-neutral-content rounded-xl">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">Home</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
    </ul>
  </div>
</div>
