<%- include('./components/header'); -%> <%- include('./components/navbar') %>

<div class="text-center my-5">
  <h1 class="text-xl font-bold">You have already logged in</h1>
</div>

<%- include('./components/footer'); -%>
